
aiokafka==0.14.0
async-timeout==5.0.1
email-validator
fastapi
minio
motor
packaging==26.3
pydantic>=2,<3
pymongo
python-dotenv
python-jose[cryptography]
python-keycloak
python-multipart
python-multipart
python-socketio[asgi]
typing_extensions==4.16.0
uvicorn

